/* NAVIGATOR STYLES */
/* Navigator Menu */
.nav-menu{
    position:fixed;
    top:0;
    width:100%;
    z-index:1
}

/* Navigator Bar */
.nav-bar{
    border:none;
    display:block;
    display:inline-block;
    float:left;
    overflow:hidden;
    padding:8px 16px;
    outline:0;
    white-space:normal;
    width:100%;
    width:auto
}

.nav-btn{
    border:none;
    display:block;
    float:left;
    float:none;
    outline:0;
    padding:8px 16px;
    text-align:left;
    /*text-align:center;*/
    white-space:normal;
    width:auto;
    width:100%
}